.bgp-t {
  background-position: top;
}
.bgp-b {
  background-position: bottom;
}
.bgp-l {
  background-position: left;
}
.bgp-r {
  background-position: right;
}
.bgp-c {
  background-position: center;
}
.bgp-tr {
  background-position: top right;
}
.bgp-tl {
  background-position: top left;
}
.bgp-br {
  background-position: bottom right;
}
.bgp-bl {
  background-position: bottom left;
}
.bgp-cr {
  background-position: center right;
}
.bgp-cl {
  background-position: center left;
}
.bgp-ct {
  background-position: center top;
}
.bgp-cb {
  background-position: center bottom;
}
.bgr {
  background-repeat: repeat;
}
.bgr-x {
  background-repeat: repeat-x;
}
.bgr-y {
  background-repeat: repeat-y;
}
.bgr-s {
  background-repeat: space;
}
.bgr-r {
  background-repeat: round;
}
.bg-none {
  background-repeat: no-repeat;
}
