.db {
  display: block;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.dn {
  display: none;
}
.dfr {
  display: flow-root;
}
.dt {
  display: table;
}
.dtc {
  display: table-cell;
}
.dtrow {
  display: table-row;
}
.dtrow-group {
  display: table-row-group;
}
.dtcolumn {
  display: table-column;
}
.dtcolumn-group {
  display: table-column-group;
}
