.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: var(--sp-1);
}
.gap-2 {
  gap: var(--sp-2);
}
.gap-3 {
  gap: var(--sp-3);
}
.gap-4 {
  gap: var(--sp-4);
}
.gap-5 {
  gap: var(--sp-5);
}
.gap-6 {
  gap: var(--sp-6);
}
.gap-7 {
  gap: var(--sp-7);
}
.gap-8 {
  gap: var(--sp-8);
}
.row-gap-0 {
  row-gap: 0;
}
.row-gap-1 {
  row-gap: var(--sp-1);
}
.row-gap-2 {
  row-gap: var(--sp-2);
}
.row-gap-3 {
  row-gap: var(--sp-3);
}
.row-gap-4 {
  row-gap: var(--sp-4);
}
.row-gap-5 {
  row-gap: var(--sp-5);
}
.row-gap-6 {
  row-gap: var(--sp-6);
}
.row-gap-7 {
  row-gap: var(--sp-7);
}
.row-gap-8 {
  row-gap: var(--sp-8);
}
.col-gap-0 {
  column-gap: 0;
}
.col-gap-1 {
  column-gap: var(--sp-1);
}
.col-gap-2 {
  column-gap: var(--sp-2);
}
.col-gap-3 {
  column-gap: var(--sp-3);
}
.col-gap-4 {
  column-gap: var(--sp-4);
}
.col-gap-5 {
  column-gap: var(--sp-5);
}
.col-gap-6 {
  column-gap: var(--sp-6);
}
.col-gap-7 {
  column-gap: var(--sp-7);
}
.col-gap-8 {
  column-gap: var(--sp-8);
}
