.o-10 {
  opacity: 10%;
}
.o-20 {
  opacity: 20%;
}
.o-25 {
  opacity: 25%;
}
.o-30 {
  opacity: 30%;
}
.o-40 {
  opacity: 40%;
}
.o-50 {
  opacity: 50%;
}
.o-60 {
  opacity: 60%;
}
.o-70 {
  opacity: 70%;
}
.o-75 {
  opacity: 75%;
}
.o-80 {
  opacity: 80%;
}
.o-90 {
  opacity: 90%;
}
.o-100 {
  opacity: 100%;
}
.o-third {
  opacity: calc(100% / 3);
}
.o-two-thirds {
  opacity: calc(100% / 1.5);
}
