# this is where the gem is built - should not be checked in
/pkg

# This contains ssh and RubyGems configuration needed to perform actions
# from inside the dev environment. As such, these are real secrets and 
# should never be checked in
/dx/credentials

# Holds metadat during YARD builds. Don't need this checked in
/.yardoc
# Location of YARD templates, this is temporary
/.yard

# Ignore the docs for now
/docs

# This is where generated API docs go
/brutrb.com/public/api
/brutrb.com/public/brut-js/api
/brutrb.com/.vitepress/cache
/brutrb.com/node_modules
/brut-js/node_modules
/brut-js/docs/node_modules
/brut-js/specs/public/js
/brut-css/node_modules
