# this is where the gem is built - should not be checked in
/pkg

# This contains ssh and RubyGems configuration needed to perform actions
# from inside the dev environment. As such, these are real secrets and 
# should never be checked in
/dx/credentials
