<!doctype html>
<html class="ma-0 pa-0 h-100" lang="en">
  <%- include("includes/head.html.ejs") %>
  <%- include("includes/body-and-header.html.ejs", { nav: nav }) %>
  <article>
    <h2>A Utility-Based CSS Framework For Getting Started</h2>
  </article>
  <%- include("includes/footer-and-rest.html.ejs") %>
</html>

