<h1>Cannot Find <code><%= class_name %></code></h1>
<p>
  You defined <code><%= path_template %></code> in your app, however the class that implements it is missing. It was expected to be in <code><%= class_file %></code>.
</p>
<p>
  To create this page, it's HTML template, and a test:
</p>
<pre><code>bin/scaffold page <%= class_name %></code></pre>
