:root {
  --vp-font-family-base: 'Helvetica Neue', 'Nimbus Sans', sans-serif;
  --vp-font-family-mono: Courier, monospace;
}
.image-bg {
  display: none;
}
td > code {
  white-space: nowrap;
}

.VPHero img, .VPHome img {
  border-radius: 0.5rem;
}
